.portfolio-page{
padding-left: 100px;
padding-right:50px;
width: calc(100% - 150px);
position: initial;
height: 100%;
overflow: auto;

h1.title{
    margin-left: 500px;
    margin-top: 5% !important;
    font-size: 60px !important;
    font-family: sans-serif !important;
    font-weight: 700 !important;
    }

    h6.title{
        font-size: 30px !important;
        font-family: sans-serif !important;
        
    }
    img {
        margin: 10px 10px 60px;
        
    }
}  
.protfolio-footer {
    visibility: hidden;
}

@media screen and (max-width: 1200px){
.container.portfolio-page{
    height: fit-content;
        h1.title{
            margin-left: 0;
        }
        h6.title{
            margin-left: 0;
            line-height: 1;
            padding-top: 20px;
            
     
        }

    }
    .protfolio-footer{
        margin-left: 40%;
        height: 50%;
    visibility: visible;

    }
}